<%= simple_form_for(@invoice) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :amount %>
    <%= f.input :issue_date %>
    <%= f.association :client %>
    <%= f.association :person %>
  </div>

  <div class="actions">
    <%= f.button :submit, :value => t('save') %>
    <%= link_to t('back'), invoices_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
