<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <%= render template: 'shared/_notices' %>
  </div>

  <div class="row bg-info">
    <div class="pull-left">
      <%= link_to t('back'), invoices_path, :class => 'btn btn-sm btn-default' %>
    </div>
    <div class="pull-right">
      <%= link_to t('edit'), edit_invoice_path(@invoice), :class => 'btn btn-sm btn-warning' %>
    </div>
  </div>

  <hr>

  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('description') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('issue_date') %></th>
          <th><%= t('client') %></th>
          <th><%= t('person') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @invoice.description %></td>
          <td><%= @invoice.amount %></td>
          <td><%= @invoice.issue_date %></td>
          <td><%= @invoice.client %></td>
          <td><%= @invoice.person %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
