<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <%= render template: 'shared/_notices' %>
  </div>

  <div class="row bg-info">
    <div class="pull-left">
      <%= link_to t('back'), clients_path, :class => 'btn btn-sm btn-default' %>
    </div>
    <div class="pull-right">
      <%= link_to t('edit'), edit_client_path(@client), :class => 'btn btn-sm btn-warning' %>
    </div>
  </div>

  <hr>

  <div class="row jumbotron">
    <div class="pull-right">
      <button class="btn btn-sm btn-info toggler" type="button" data-show="#contacts" data-hide="#meta-info">Contactar</button>
    </div>
    <div class="pull-left">
      <%= profile_placeholder @client %>
    </div>
    <div class="col-sm-8">
      <div class="hidden" id="contacts">
        <% if @client.clients_contacts.count > 0 %>
          <p>Medios de contacto:</p>
          <ul class="list-group">
            <% @client.clients_contacts.each do |cc| %>
            <li class="list-group-item">
              <strong><%= cc.contact.name.capitalize %>:</strong>
              <%= cc.value %>
            </li>
            <% end %>
          </ul>
        <% else %>
          <p>No tiene medios de contacto</p>
        <% end %>
      </div><!-- #contacts -->
      <div id="meta-info">
        <h1><%= @client.full_name %> <small class="years_old">(<%= @client.age_s %>)</small></h1>
        <p>
          <strong><%= t 'cuil_cuit' %>:</strong>
          <%= @client.cuilt %>
        </p>
        <p>
          <strong><%= t 'identification_number' %>:</strong>
          <%= @client.identification_number %>
        </p>
        <p>
          <strong><%= t 'genre' %>:</strong>
          <%= t @client.genre %>
        </p>
      </div><!-- #meta-info -->
    </div>
  </div>

  <div class="row">
    <h2>Facturado por a침o</h2>
    <hr>
    <table class="table table-bordered">
      <tbody>
        <% if @amount_total_invoices_by_year.each do |ay| %>
          <tr>
            <td><%= "En #{ay.year} factur칩 $#{ay.total}" %></td>
          </tr>
        <% end.empty? %>
          <tr>
            <td>No posee facturas</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>Total de facturas por mes del a침o <%= Time.now.year %></h2>
    <hr>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t "month" %></th>
          <th><%= t "total_invoices" %></th>
        </tr>
      </thead>
      <tbody>
        <% if @invoices_current_year.each do |icy| %>
          <tr>
            <td><%= get_month_name(icy.month) %></td>
            <td><%= icy.total %></td>
          </tr>
        <% end.empty? %>
          <tr>
            <td>-</td>
            <td>-</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>Personas a las que m치s se le ha facturado</h2>
    <hr>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t "name" %></th>
          <th><%= t "amount" %></th>
          <th><%= t "total_invoices" %></th>
        </tr>
      </thead>
      <tbody>
        <% if @most_invoiced_people.each do |mip| %>
          <tr>
            <td><%= mip.name %></td>
            <td>$<%= mip.amount %></td>
            <td><%= mip.total %></td>
          </tr>
        <% end.empty? %>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
